.card-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.customer-form-card-header {
    font-family: Montserrat !important;
    font-weight: 800;
    color: black;
}
.field-outer-container {
    display: flex;
    justify-content: space-between;
    padding:5px;
}
.field-container{
    flex-grow: 1;
}
.submit-btn-container{
    justify-content: space-around;
}
.card-content-container{
    padding: 5px;
}
.tCellData {
    display: flex;
    justify-content: space-around;
}
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}