.App {
  text-align: center;
}

div {
  font-family: 'Montserrat' !important;
}

.tool-bar {
  background-color: #FAC213 !important;
  font-weight: 500;
  font-size: 32px;
}

.home-icon:hover{
  color: #B20600 !important;
  transition: 0.3s color;
  transition-timing-function: ease-in;
}
